# Deaths in Australia due to drowning Cleaning Script

Data is has been imported from Grim data from data.gov.au

### Importing Necessary Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Loading the data into Data frames

In [2]:
cause = pd.read_csv('grimdatagovau.csv',encoding='cp1252')
#removing Persons fro the dataset it is just the sum of Males and Females
cause= cause[cause['SEX'] != 'Persons']
cause.head()

,grim,cause_of_death,YEAR,SEX,AGE_GROUP,deaths,rate,age_standardised_rate
0,GRIM0000,All causes combined (ICD-10 all),1907,Males,0–4,6482.0,2604.0,NaN
1,GRIM0000,All causes combined (ICD-10 all),1907,Males,5–9,473.0,205.1,NaN
2,GRIM0000,All causes combined (ICD-10 all),1907,Males,10–14,366.0,168.4,NaN
3,GRIM0000,All causes combined (ICD-10 all),1907,Males,15–19,569.0,266.8,NaN
4,GRIM0000,All causes combined (ICD-10 all),1907,Males,20–24,763.0,366.8,NaN

In [3]:
#removing unused columns
cause.drop('grim',axis=1,inplace=True)
# Filtering out deaths only due to drowning
cause['cause_of_death'] = cause['cause_of_death'].str.lower()
cause = cause[cause['cause_of_death'].str.contains("drowning")]
#resting the index as now the dataframe only has data related to drowning
cause.reset_index(inplace = True)
cause.drop("index",axis=1,inplace=True)
cause.head()

,cause_of_death,YEAR,SEX,AGE_GROUP,deaths,rate,age_standardised_rate
0,accidental drowning (icd-10 w65–w74),1907,Males,0–4,NaN,NaN,NaN
1,accidental drowning (icd-10 w65–w74),1907,Males,5–9,NaN,NaN,NaN
2,accidental drowning (icd-10 w65–w74),1907,Males,10–14,NaN,NaN,NaN
3,accidental drowning (icd-10 w65–w74),1907,Males,15–19,NaN,NaN,NaN
4,accidental drowning (icd-10 w65–w74),1907,Males,20–24,NaN,NaN,NaN

In [4]:
#Removing all the data for which deaths was not recorded
cause = cause[cause['deaths'].notna()]
#Also removing the Total column out of age groups
cause = cause[cause['AGE_GROUP']!= 'Total']
#Again restting the index after filtering out all the necessary data
cause.reset_index(inplace = True)
cause.drop("index",axis=1,inplace=True)
cause.head()

,cause_of_death,YEAR,SEX,AGE_GROUP,deaths,rate,age_standardised_rate
0,accidental drowning (icd-10 w65–w74),1979,Males,0–4,50.0,8.6,NaN
1,accidental drowning (icd-10 w65–w74),1979,Males,5–9,13.0,1.9,NaN
2,accidental drowning (icd-10 w65–w74),1979,Males,10–14,8.0,1.2,NaN
3,accidental drowning (icd-10 w65–w74),1979,Males,15–19,27.0,4.0,NaN
4,accidental drowning (icd-10 w65–w74),1979,Males,20–24,31.0,4.9,NaN

In [5]:
#Just checking the dimensions of the data
cause.shape

(1479, 7)

In [6]:
#Removing unwanted columns
cause.drop(['cause_of_death','age_standardised_rate'],axis=1,inplace=True)
cause.head()

   YEAR    SEX AGE_GROUP  deaths  rate
0  1979  Males       0–4    50.0   8.6
1  1979  Males       5–9    13.0   1.9
2  1979  Males     10–14     8.0   1.2
3  1979  Males     15–19    27.0   4.0
4  1979  Males     20–24    31.0   4.9

In [7]:
#checking data of which all age groups are present
cause['AGE_GROUP'].unique()

array(['0–4', '5–9', '10–14', '15–19', '20–24', '25–29', '30–34', '35–39',
       '40–44', '45–49', '50–54', '55–59', '60–64', '65–69', '70–74',
       '75–79', '80–84', '85+', 'Missing'], dtype=object)

In [8]:
#Writing the dataframe into a csv file with deaths of all age groups
cause.to_csv(r'db-deaths.csv')

### Filtering Data of Children with Age Group Less than 20

In [9]:
#Filtering data with only age groups less than 20
causelt20 = cause[cause['AGE_GROUP'].isin(['0–4', '5–9', '10–14', '15–19'])]

In [10]:
#Cross checking the age group
causelt20['AGE_GROUP'].unique()

array(['0–4', '5–9', '10–14', '15–19'], dtype=object)

In [11]:
#Checking the current names of the columns
causelt20.columns

Index(['YEAR', 'SEX', 'AGE_GROUP', 'deaths', 'rate'], dtype='object')

In [12]:
# modifying the column names to maintain uniformity among all files
causelt20['year'] = causelt20['YEAR']
causelt20.drop('YEAR',axis=1,inplace=True)
causelt20['Gender'] = causelt20['SEX']
causelt20.drop('SEX',axis=1,inplace=True)
causelt20['Deaths'] = causelt20['deaths']
causelt20.drop('deaths',axis=1,inplace=True)
causelt20['DeathRate'] = causelt20['rate']
causelt20.drop('rate',axis=1,inplace=True)
causelt20['AgeGroup'] = causelt20['AGE_GROUP']
causelt20.drop('AGE_GROUP',axis=1,inplace=True)
causelt20.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

    year   Gender  Deaths  DeathRate AgeGroup
0   1979    Males    50.0        8.6      0–4
1   1979    Males    13.0        1.9      5–9
2   1979    Males     8.0        1.2    10–14
3   1979    Males    27.0        4.0    15–19
19  1979  Females    46.0        8.2      0–4

In [13]:
#Changing the order of columns
causelt20 = causelt20.reindex(columns=['year','Gender','AgeGroup','Deaths','DeathRate'])
causelt20.head()

    year   Gender AgeGroup  Deaths  DeathRate
0   1979    Males      0–4    50.0        8.6
1   1979    Males      5–9    13.0        1.9
2   1979    Males    10–14     8.0        1.2
3   1979    Males    15–19    27.0        4.0
19  1979  Females      0–4    46.0        8.2

In [14]:
# This function is used to round the no of deaths value
def roundDeaths(val):
    if (val-int(val)) >= 0.5:
        return int(val+1)
    return int(val)
causelt20['Deaths'] = causelt20['Deaths'].apply(roundDeaths)
causelt20.head()

    year   Gender AgeGroup  Deaths  DeathRate
0   1979    Males      0–4      50        8.6
1   1979    Males      5–9      13        1.9
2   1979    Males    10–14       8        1.2
3   1979    Males    15–19      27        4.0
19  1979  Females      0–4      46        8.2

In [16]:
#writing the dataframe to csv
causelt20.to_csv(r'deaths-lt-20.csv')

In [17]:
#Changing the index of the table for writing into a csv file
tempDeaths = causelt20.set_index(['year','Gender','AgeGroup'])
#writing the dataframe to csv
tempDeaths.to_csv(r'db-deaths-lt-20.csv')

In [ ]:
s